<div>
    <div class="patient-visit-number">
        <p>ביקור 123456</p>
        <div class="patients-visit-name">
            <h4>{{patient.name}}</h4>
            <div class="patients-details">
                <ul>
                    <li><strong>תז: </strong>{{patient.id}}</li>
                    <li><strong>גיל: </strong>{{patient.age}}</li>
                    <li><strong>מס תיק: </strong> {{patient.fileNumber}}</li>
                    <li><strong>מס שירות: </strong>{{patient.serviceNumber}}</li>
                    <li><strong>מס טלפון: </strong>{{patient.phoneNumber}}</li>
                    <li><strong>יומן: </strong>{{patient.diary}}</li>
                    <li><strong>אתר: </strong>{{patient.location}}</li>
                </ul>
            </div>
        </div>

    </div>
    <app-form-section></app-form-section>

</div>