<section>
    <div class="table-responsive" id="table-res">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th scope=" col">גורם מבטח</th>
                    <th scope="col">מחוז</th>
                    <th scope="col">סניף</th>
                    <th scope="col">בדיקה</th>
                    <th scope="col">קבוצה מחיר</th>
                    <th scope="col">מחיר ליחידה</th>
                    <th scope="col">כמות</th>
                    <th scope="col">טיפול/ים</th>
                    <th scope="col">סה"כ ט'</th>
                    <th scope="col">סה"כ</th>
                    <th scope="col">Accession Number</th>
                    <th scope="col">שולם?</th>
                    <th scope="col">סטאטוס תהליך</th>
                    <th scope="col">סטאטוס תהליך קודמים</th>
                    <th scope="col">סטאטוס פענוח</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="גורם מבטח">אבנר חב' לביטוח</td>
                    <td data-title="מחוז">לא סופק</td>
                    <td data-title="סניף">לא סופק</td>
                    <td data-title="בדיקה">test41</td>
                    <td data-title="קבוצה מחיר">לא סופק</td>
                    <td data-title="מחיר ליחידה">22.00</td>
                    <td data-title="כמות">1</td>
                    <td data-title="טיפול/ים">לא סופק</td>
                    <td data-title="סה'כ ט'">לא סופק</td>
                    <td data-title="סה'כ">22</td>
                    <td data-title="Accession Number">MAR1000003595566</td>
                    <td data-title="שולם?">כן</td>
                    <td data-title="סטאטוס תהליך" style="color: green;">חתום</td>
                    <td data-title="סטאטוס תהליך קודמים" style="color: #C1C9D1;"> סטאטוסי תהליך קודמים</td>
                    <td data-title="סטאטוס פענוח">פענוח רגיל</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>